.page-404{
    background-image: url("../images/start/start-bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;

    .error-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        background-attachment: fixed; 
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

             &__title{
                color: #ffffff;
                padding: 25px;
                margin: 0;
             }

             &__btn{
                border: none;
             }
    }
}