@media (max-width:1200px) {
    .header {
        &__consultation {
            display: none;
        }

        &__wrapper{
            justify-content: space-around;
            gap: 0px;
        }
    }

    .start{
        &__title{
            font-size: 45px;
            text-align: center;
        }

        &__label{
            flex-grow: 1;
        }

        &__search{
            flex-wrap: wrap;
            justify-content: space-between;

            &-program{
                align-self: center;
                flex-grow: 1;
            }
        }
    }

    .about{
        &__wrapper{
            justify-content: space-around;
            gap: 0px;
        }

        &__content{
            max-width: 317px;
        }
    }
}

@media (max-width:992px){
    .header{
        &__wrapper{
            justify-content: space-between;
        }

        &__menu{
            display: none;
        }

        &__burger {
            position: relative;
            z-index: 6;
            display: block;
            border: 0;
            width: 30px;
            height: 18px;
            background-color: rgba(0, 0, 0, 0);
            cursor: pointer;
            padding-top: 10px;

            &-line {
                position: absolute;
                left: 0;
                border-radius: 3px;
                width: 100%;
                height: 3px;
                background-color: #fff;
                transition: all .3s;

                &:first-of-type {
                    top: 0;
                }

                &:last-of-type{
                    left: unset;
                    right: 0;
                    bottom: 0;
                    width: 50%;
                    top: 26px;
                    width: 13px;
                }
            }
        }
    }

    .start{
        &__title{
            font-size: 35px;
        }

        &__info{
            padding: 70px 0 81px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__search{
            max-width: 500px;
        }
    }

    .about{
        padding: 50px 0px;

        &__wrapper{
            flex-direction: column-reverse;
        }

        &__content{
            max-width: 800px;
        }

        &__video{
            position: relative;
            top: 0;
            left: 0;
        }

        &__pi—Å{
            display: none;
        }

        &__btn{
            align-self: center;
        }
    }

    .offer{
        &__content{
            max-width: 800px;
            padding-bottom: 20px;
        }

        &__wrapper{
            flex-direction: column;
        }

        &__price{
            align-self: center;
        }
    }

    .popular{
        .overlay__name-descr {
            display: none;
        }

        &__media{
            flex-direction: column;
            align-items: center;
            
            &.swiper-wrapper {
                display: flex;
                flex-wrap: wrap;
                transform: none !important;
            }
        }
        
        .swiper-slide {
            transform: none !important;
        }
    }

    .newsletter{
        &__wrapper{
            position: static;
            margin-bottom: 50px;
            flex-direction: column;
            justify-content: center;
        }

        &__content {
            flex: 0 1 0px;
        }

        &__subscribe {
            flex: 0 1 0px;
        }

        &__form {
            display: flex;
            margin-bottom: 8px;
            gap: 16px;
            flex-direction: column;
        }

        &__label{
            display: flex;
        }

        &__input{
            flex-grow: 1;
        }
    }

    .blog{
        padding: 80px 0 50px;
    }

    .gallery{
        padding: 50px 0;
    }

    .footer{
        &__top{
            padding: 50px 0;
        }

        &__items:last-of-type {
            padding-left: 0px; 
        }

        &__top-wrapper{
            flex-direction: column;
        }
    }
}

@media (max-width:576px){
    .start{
        &__info{
            padding-top: 234px;
        }

        &__title{
            font-size: 28px;
            text-align: left;
        }

        &__search{
            background: none;
            backdrop-filter: none;
            align-self: flex-start;
            padding-left: 0px;
            padding-top: 32px;
            padding-bottom: 0px;
        }

        &__label{
            display: none;
        }
    }

    .title{
        font-size: 24px;
    }

    .subtitle{
        font-size: 14px;
    }

    .about{

        &__content{
            padding-top: 0px;
            padding-bottom: 40px;
        }
    }

    .offer{
        padding-top: 50px;
        padding-bottom: 50px;

        &__media{
            display: none;
        }

        &__content{
            padding-bottom: 0px;
        }
    }

    .popular{
        padding-top: 50px;
        padding-bottom: 50px;

        &__btn{
            margin-top: 32px;
        }
    }

    .newsletter{
        &__button{
            max-width: 240px;
        }
    }


    .blog {
        padding: 50px 0;

        &__btn{
            margin-top: 32px;
        }

        &__swiper {
            overflow: hidden;
            padding: 0 16px;
            margin: 0 -16px;
        }
        
        &__media {
            display: flex;
            flex-wrap: nowrap;
            gap: 0 !important;
            
            &.swiper-wrapper {
                display: flex;
                flex-wrap: nowrap;
            }
        }
        
        .news {
            &__item {
                flex-direction: column;
                max-width: 285px;
                padding: 0px;
                flex-shrink: 0;
                width: 280px;
                margin-right: 16px;
                min-width: auto;

                &-pic{
                    max-width: 500px;
                    border-radius: 0px;
                }
                
                &.swiper-slide {
                    flex: none;
                    width: 280px;
                }
            }

            
                &__content{
                    padding: 0px 16px 16px;
                    margin: 0;
                }
        }
    }

  
    .gallery {
        &__swiper {
            overflow: hidden;
            padding: 0 16px;
            margin: 0 -16px;
        }
        
        &__media {
            display: flex;
            flex-wrap: nowrap;
            gap: 0 !important;
            
            &.swiper-wrapper {
                display: flex;
                flex-wrap: nowrap;
            }
        }
        
        &__pic {
            flex-shrink: 0;
            width: 200px;
            margin-right: 16px;
            min-width: auto;
            
            &.swiper-slide {
                flex: none;
                width: 200px;
            }
        }

        .swiper-slide{
            width: 280px;
            height: 250px;
        }

        &__btn{
        margin-top:32px;
        }
    }

    .newsletter{
        &__wrapper{
            padding: 24px;
        }
    }

    .popular{
        &__item{
             max-height: 500px;
        }
    }

    .footer{
        &__bottom{
            &-wrapper {
                justify-content: center;
            }
        }
    }

    .title, .subtitle{
        text-align: left;
    }

    .error-page {
        &__img {
            max-width: 250px;
        }

        &__title {
            text-align: center;
        }
    }

}