@mixin h1-text {
    font-family: 'NEXT ART', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
}

@mixin h2-text {
    font-family: Nunito Sans;
    font-weight: 900;
    font-style: ExtraBold;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.02rem;
}

@mixin h3-text {
    font-family: Nunito Sans;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0%;
}

@mixin h4-text {
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
}

@mixin regular-text{
    font-family: Nunito Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0;
}

@mixin discription-regular-text{
    font-family: Nunito Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    line-height: 1.44;
}

@mixin post-more-text{
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
}

@mixin discription-footer-regular-text{
    font-family: Nunito Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.009rem;
}

@mixin regular-button-text{
    font-family: Nunito Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: -0.2;
}

@mixin light-button-text{
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.2%;
}

@mixin form-bold-text{
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
}

@mixin form-light-text{
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 14px;
    font-style: Regular;
    line-height: 150%;
    letter-spacing: 0px;
}

@mixin header-text{
    font-family: Nunito Sans;
    font-weight: 500;
    font-style: SemiBold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.23;
}

@mixin accent-h2-text{
    font-family: Nunito Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0%;
}

@mixin item-title-text{
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.02rem;
}

@mixin popular-card-tilte{
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
}

@mixin popular-card-subtitle{
    font-family: Nunito Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
}

@mixin popular-card-text{
    font-family: Nunito Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
}

@mixin popular-price{
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
}

@mixin popular-rating{
    font-family: Nunito Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
}

@mixin newsletter-email-title{
    font-family: Nunito Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
}

@mixin newsletter-email-placeholder{
    font-family: Nunito Sans;
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
}