 @import "../_mixins";
 @import "../_variables";

.about {
    background: $background-color-even;
    padding: 101px 0px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 120px; 
        margin: 0 auto;
    }

    &__media {

        position: relative; 
    }

    &__pi—Å {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        height: 526px; 
    }

    &__img {
        height: auto;
        max-width: 100%;
        object-fit: cover;
    }

    &__video {
        position: absolute;
        top: 126px;
        left: 130px; 
        border-radius: 10px;
        overflow: hidden;
        
    }

    &__video-btn {
        position: absolute;
        top: 43%;
        left: 43%;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.682);
       
        
        &:hover {
            background: white;
            transform: scale(1.5); 
           
        }
    }

    &__video-play {
        width: 24px;
        height: 24px;
    }

    &__content {
        padding: 64px 0px;
        max-width: 580px; 
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    &__subtitle {
        padding-bottom: 8px;
        margin: 0px;
    }

    &__title {
        margin: 0px;
    }

    &__text {
        @include regular-text;
        color: $secondary-color;
        margin: 0;

    }

    &__btn{
        width: 198px;
        height: 50px;
    }

}



