 @import "../_mixins";
 @import "../_variables";

.blog {
    padding: 80px 0px 100px;
    background-color: $background-color-odd;

    &__content {
        text-align: center;
        padding-bottom: 39px;
    }

    &__media {
        margin-bottom: 49px;
    }

    &__btn {
        margin: 0 auto;
        width: 219px;
        height: 51px;
    }

    &__title {
        margin-bottom: 0px;
    }

    .news {
        display: flex;
        flex-wrap: wrap;
        row-gap: 24px;
        column-gap: 20px;

        &__item {
            display: flex;
            flex: 1 1 380px;
            border-radius: 10px;
            padding: 16px;
            height: auto;
            box-shadow: 0 0 15px 0 rgba(24,18,30,.12);
            background: $posts-color;
            overflow: hidden;

            &:nth-of-type(1) .news__item-pic {
                background-image: url("../../images/blog/blog1.jpg");
            }

            &:nth-of-type(2) .news__item-pic {
                background-image: url("../../images/blog/blog2.jpg");
            }

            &:nth-of-type(3) .news__item-pic {
                background-image: url("../../images/blog/blog3.jpg");
            }

            &:nth-of-type(4) .news__item-pic {
                background-image: url("../../images/blog/blog4.jpg");
            }
        }

        &__item-pic {
            flex: 1 1 252px;
            max-width: 230px;
            height: 280px;
            border-radius: 6px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__content {
            display: flex;
            flex: 1 1 294px;
            flex-direction: column;
            margin-left: 24px;
        }

        &__title {
            margin: 0;
            padding: 16px 0 24px;
            @include h4-text;
            text-decoration: underline 1px solid rgba(0,0,0,0);
            color: #18121e;
            transition: all .1s;
            cursor: pointer;
            text-underline-offset: 3px;

            &:hover {
                text-decoration: underline 1px solid $primary-color;
                color: $primary-color;
                text-underline-offset: 3px;
            }
        }

        &__descr {
            margin: 0;
            margin-bottom: 24px;
            @include discription-regular-text;
            color: $secondary-color;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto 0 16px;
        }

        &__time {
            @include post-more-text;
            color: $accent-color;
        }

        &__link {
            @include post-more-text;
            text-decoration: underline 1px solid rgba(0,0,0,0);
            color: #1a3e3e;
            transition: all .1s;

            &:hover {
                text-decoration: underline 1px solid $primary-color;
            }
        }
    }
}