.footer {
    background-color: #1a3e3e;

    &__top {
        padding: 176px 0 80px;
    }

    &__top-wrapper {
        display: flex;
        gap: 54px;
    }

    &__items {
        flex: 1;
        max-width: 280px;

        &:first-of-type {
            max-width: 445px;
        }

        &:last-of-type{
            padding-left: 66px;
        }
    }

    &__title {
        margin: 0 0 19px;
        @include popular-price;
        color: $background-color-odd;
    }

    &__text {
        margin: 0;
        @include discription-regular-text;
        color: $background-color-even;
        line-height: 1.4;
    }

    &__contacts {
        display: flex;
        margin: 80px 0 34px;
        gap: 24px;
    }

    &__contact {
        @include discription-footer-regular-text;
        text-decoration: underline;
        color: $background-color-even;
        transition: all .1s;
    

        &:hover {
            color: $accent-color;
            cursor: url('../../images/footer/pointer.svg'), pointer;
        }
    }

    &__socials {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 23px;
    }

    &__social {
        width: 26px;
        height: 26px;
        fill: $background-color-even;
        transition: all .1s;
    }

    &__social:hover {
        fill: $accent-color;
        cursor: url('../../images/footer/pointer.svg'), pointer;
        transform: scale(1.2);
        transition: all 0.3s ease;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0
    }

    &__list-item {
        display: flex;
        align-items: baseline;
    
        &:hover .footer__link {
            -webkit-text-decoration: underline 1px solid $accent-color;
            text-decoration: underline 1px solid $accent-color;
            color: $accent-color;
            cursor: url('../../images/footer/pointer.svg'), pointer;
        
                &--new::after {
                    -webkit-text-decoration: underline 1px solid $background-color-even;
                    text-decoration: underline 1px solid $background-color-even;
                }
        }

        &:hover .footer__arrow {
            fill: $accent-color;
        }

        & + & {
            margin-top: 16px;
        }
    }

    &__arrow {
        margin-right: 10px;
        width: 6px;
        height: 10px;
        fill: $background-color-even;
        transition: all .1s
    }

    &__link {
        position: relative;
        @include popular-card-subtitle;
        -webkit-text-decoration: underline 1px solid rgba(0,0,0,0);
        text-decoration: underline 1px solid rgba(0,0,0,0);
        color: $posts-color;
        transition: all .1s;
    

        &--new::after {
            content: "NEW";
            margin-left: 8px;
            border-radius: 4px;
            padding: 2px 10px;
            font-family: Nunito Sans;
            font-weight: 700;
            font-style: Bold;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0%;
            text-transform: lowercase;
            -webkit-text-decoration: underline 1px solid $background-color-even;
            text-decoration: underline 1px solid $background-color-even;
            text-transform: lowercase;
            color: #1a3e3e;
            background: $background-color-even;
        }
    }

    &__bottom {
        @include discription-footer-regular-text;
        color: $background-color-even;
        background-color: #18121e;
    
        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 24px 0;
            gap: 8px
        }
    }

    &__info {
        margin: 0
    }

    &__policy {
        margin: 0;
        text-align: center;
        text-decoration: underline;
        transition: all .1s;
    

        &:hover {
            color: $accent-color;
            cursor: url('../../images/footer/pointer.svg'), pointer;
        }
    }
}