.gallery {
    padding: 80px 0px 99px;

    &__title{
        margin: 0px;
    }

    &__content {
        text-align: center;
        margin-bottom: 40px;
    }

    &__media {
        display: grid;
        grid-template-rows: 250px 250px; 
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
        margin-bottom: 50px;
        max-width: 1180px; 
        margin: 0 auto; 
    }

    &__swiper{
        padding-bottom: 49px;
    }

    &__pic {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
   
        &:nth-of-type(1) {
            grid-column: 1 / 7; 
            grid-row: 1;
        }

        &:nth-of-type(2) {
            grid-column: 7 / 10; 
            grid-row: 1;
        }

        &:nth-of-type(3) {
            grid-column: 10 / 13; 
            grid-row: 1;
        }

       
        &:nth-of-type(4) {
            grid-column: 1 / 4; 
            grid-row: 2;
        }

        &:nth-of-type(5) {
            grid-column: 4 / 10; 
            grid-row: 2;
        }

        &:nth-of-type(6) {
            grid-column: 10 / 13; 
            grid-row: 2;
        }

        &-overlay {
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            padding: 0;
            background-color: rgba(26,62,62,0);
            opacity: 0;
            transition: all .3s;
            cursor: pointer;
            z-index: 2;

            &::before {
                content: "";
                position: absolute;
                width: 48px;
                height: 48px;
                background-image: url("../../images/gallery/loupe.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            &:hover,
            &:focus {
                background-color: rgba(26,62,62,.6);
                opacity: 1;
                cursor: url('../../images/gallery/pointer.svg'), auto;
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        display: block;
        transition: transform 0.3s ease;

        .gallery__pic:hover & {
            transform: scale(1.05);
        }
    }

    &__btn {
        margin: 0 auto;
        width: 178px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
