      @import "../_mixins";

      .header {
          @include header-text;

          &__wrapper {
              position: relative;
              display: flex;
              padding-top: 16px;
              gap: 210px;
          }

          &__menu {
              display: flex;
              justify-content: space-between;
              align-content: center;
              gap: 46px;
          }

          &__nav {
              display: flex;
              align-items: center;
          }

          &__lists {
              display: flex;
              list-style: none;
              margin: 0;
              padding: 0;
              gap: 27px
          }

          &__item {
              color: #fdfdfd;
          }

          &__item-link {
              color: inherit;
              transition: all .1s;
          }

          &__item-link:hover {
              color: #f2be22;
          }

          &__consultation {
              margin-top: 14px;
              width: 157px;
              height: 43px
          }

          &__burger {
              display: none;
          }

          &__burger-line {
              position: absolute;
              left: 0;
              border-radius: 3px;
              width: 100%;
              height: 3px;
              background-color: #fff;
              transition: all .3s;
          }

      }

